<!doctype html>
<html>
  <head>
    <title>Dice n' Chat</title>

	<!-- static link to custome site css -->
	<link rel="stylesheet" href="static/styles/style.css"></style>

  </head>

  <body>
    <nav>
      <ul>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
      </ul>
    </nav>

    <div class="container">
      <ul id="messages">
          <% results.forEach(function(result) { %>
              <li><%= result.msg %></li>
          <% }); %>
      </ul>
      <form id="diceBtns" name="diceBtns" action="">
        <button id="roll1D6" name="roll1D6">Roll 1d6</button>
      </form>

      <form id="msgForm" name ="msgForm" action="">
        <input id="msg" name="msg" autocomplete="off" /><button>Send</button>
      </form>
    </div>

  </body>

  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/static/scripts/script.js"></script>
</html>
