<!doctype html>
<html>
  <head>
    <title>Dice n' Chat</title>

	<!-- static link to custome site css -->
	<link rel="stylesheet" href="static/styles/style.css"></style>
  </head>

  <body>
    <!-- Loader content -->
    <div id="loader-wrapper">
        <div id="loader"></div>
    
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    
    </div>

    <div id="content">
      <div>
        <h2 id="sanct-heading">#sanctOS...connection scrambling enabled...</h1>
        
      </div>

      <div id="textscrawl">
        <div id="text-scramble"><!-- span>Example</span--></div>
          <div>

            

           </div>
        </div>

        <div id="formSection">
              <form id="msgForm" name ="msgForm" action="">
                <input id="msg" name="msg" autocomplete="off" onkeydown="upperCaseF(this)" autofocus/>
                <br />
                <button>Send</button>
              </form>
        </div>
    </div>
  </body>

  <!--<script src="http://code.jquery.com/jquery-1.11.1.js"></script>-->  
  <script src="/static/scripts/jquery-3.1.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/static/scripts/script.js"></script>
</html>
